{% load static %}
<html>
  <head>
    <title>Создать задачу</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

  </head>
  <body>
  <div class="container">
    <h1>Создать задачу</h1>
    <form action="/add-url" method="post">
        <input type="URLField" name="URL" class="form-control"/>
        <input type="CharField" name="Search string" class="form-control"/>
        <button class="add" type="submit">+</button>
    </form>
  </div>
  </body>

</html>
