{% extends "urls/base.html" %}
{% load static %}

{% block title %}URL List{% endblock %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Создать задачу</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="." method="post">
        {{ form }}
        {% csrf_token %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="add" type="submit">+</button>
    </div>
  </div>
</div>
<div class="container">
  <h1>Список URL</h1>
    
    <ul id="url-list">
    {% for url in urls %}
      {% if url.status %}
      <li class="completed">
        <input class='checkbox' data-uid={{ url.job }} type='checkbox' disabled='disabled' checked='checked'/>
      {% else %}
      <li>
        <input class='checkbox' data-uid={{ url.job }} type='checkbox' />
      {% endif %}
        {{ url }} {{url.job}}
        <a class="remove" href="/api/delete/{{ url.job }}">X</a>
        <hr/>
      </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
